@mixin outline-button {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: $whiteColor;
  font-weight: 500;
  &.btn-primary {
    background-color: $primaryColor;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      @include outline-button;
    }
  }
  &.btn-success {
    background-color: $successColor;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      @include outline-button;
    }
  }
  &.btn-danger {
    background-color: $dangerColor;
    &:hover {
      opacity: 0.9;
    }
    &:focus {
      @include outline-button;
    }
  }
  &.btn-secondary {
    background-color: $purpleColor;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      @include outline-button;
    }
  }
}
