@mixin outline-button {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
@mixin circle-button {
  border-radius: 50px;
}
@mixin opacity-hover-button {
  opacity: 0.9;
}
@mixin sm-button {
  padding: 0.3rem 0.8rem;
}
button.dropdown-item {
  &:active {
    @include outline-button;
    background-color: transparent;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: $whiteColor;
  font-weight: 500;
  &.btn-primary {
    background-color: $primaryColor;
    &:hover {
      @include opacity-hover-button;
    }
    &:focus {
      @include outline-button;
    }
    &.btn-circle {
      @include circle-button;
    }
    &.btn-sm {
      @include sm-button;
    }
  }
  &.btn-success {
    background-color: $successColor;
    &:hover {
      @include opacity-hover-button;
    }
    &:focus {
      @include outline-button;
    }
    &.btn-circle {
      @include circle-button;
    }
    &.btn-sm {
      @include sm-button;
    }
  }
  &.btn-danger {
    background-color: $dangerColor;
    &:hover {
      @include opacity-hover-button;
    }
    &:focus {
      @include outline-button;
    }
    &.btn-circle {
      @include circle-button;
    }
    &.btn-sm {
      @include sm-button;
    }
  }
  &.btn-secondary {
    background-color: $purpleColor;
    &:hover {
      @include opacity-hover-button;
    }
    &:focus {
      @include outline-button;
    }
    &.btn-circle {
      @include circle-button;
    }
    &.btn-sm {
      @include sm-button;
    }
  }
}
