nav.mainNav {
  background-color: $whiteColor;
  border-bottom: 1px solid $darkColor;
  padding: 1rem 5rem;
  .navbar-brand {
    color: $primaryColor;
    font-size: 1.4rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    .single-brand {
      color: $dangerColor;
    }
  }
  .navbar-toggler {
    &:focus {
      border-color: transparent;
      outline: none;
    }
    i:focus {
      outline: none;
    }
  }
  .nav-link,
  .dropdown-item {
    color: $dangerColor;
    margin: 0 0.3rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.8;
      background-color: transparent;
    }
  }
  .dropdown-item {
    font-size: 0.9rem;
  }
  .dropdown-menu {
    left: -50px;
  }
}
