@import "config";
@import "navigation";
@import "buttons";
@import "heading";
@import "text";
@import "form";
@import "badge";
@import "toastify";
@import "footer";

// GENERAL
body {
  font-family: "Raleway", sans-serif;
}
h2 {
  @include heading-h2;
}
h3 {
  @include heading-h3;
}
.jumbotron {
  border-radius: 0;
}
.price {
  color: $dangerColor;
  font-weight: bold;
}
.rating-ad {
  margin: 10px 0;
}
img.ad-coverImage {
  max-width: 350px;
  max-height: 233px;
}
.divider-section {
  width: 200px;
  height: 5px;
  background-color: $dangerColor;
  margin: 100px auto;
}
.avatar {
  border-radius: 50%;
  &.avatar-mini {
    max-width: 24px;
    min-height: 24px;
  }
  &.avatar-medium {
    max-width: 124px;
    max-height: 124px;
  }
}
div.card-comment {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
div.card-booking {
  background-color: #f5f5f5;
  padding: 20px;
  border: none;
  border-left: 3px solid $primaryColor;
  margin-bottom: 30px;
}

// HOMEPAGE
section#header-homepage {
  margin-top: 76px;
  background-color: $bgHeaderHomepage;
  h1 {
    color: $whiteColor;
    @include heading-h1;
  }
  p {
    color: $whiteColor;
    opacity: 0.9;
    font-size: 1.5rem;
  }
}
section#cta-registration {
  margin: 100px 0;
  p {
    font-size: 1.5rem;
  }
}

// Page Ads
section#ads {
  margin-top: 150px;
}

// Page Show Ad
section#show-ad-information {
  margin-top: 150px;
  h1 {
    color: $primaryColor;
  }
  p {
    color: $darkColor;
    font-style: italic;
    &.rating-desc {
      color: $primaryColor;
      font-size: 0.9rem;
    }
  }
  .price {
    font-size: 1.5rem;
  }
}
section#show-ad-description {
  p {
    color: $darkColor;
    &.firstname-owner {
      color: $primaryColor;
      font-weight: bold;
    }
    &.introduction-owner {
      font-size: 0.9rem;
    }
  }
}
section#show-ad-comments {
  p {
    color: $darkColor;
    &.lastname-comment {
      color: $primaryColor;
      font-weight: bold;
    }
  }
  .date-comment {
    font-style: italic;
    font-size: 0.9rem;
    color: $primaryColor;
  }
}
section#show-ad-send-comment {
  margin-bottom: 150px;
}

//Page Registration and Page Login
section#form-registration {
  margin-top: 76px;
  //height: 100vh;
  background-color: $primaryColor;
  padding-top: 200px;
  padding-bottom: 150px;
  .bg-light {
    max-width: 700px;
    border-radius: 5px;
  }
}
section#form-login {
  margin-top: 76px;
  //height: 100vh;
  background-color: $primaryColor;
  padding-top: 200px;
  padding-bottom: 250px;
  .bg-light {
    max-width: 700px;
    border-radius: 5px;
  }
}

//page show user profile
section#header-show-user-profile {
  margin-top: 76px;
  background-color: $primaryColor;
  p {
    &.firstname {
      color: $whiteColor;
      font-weight: bold;
    }
    &.date-member {
      color: $whiteColor;
      font-style: italic;
    }
  }
}
section#details-show-user-profile {
  .introduction {
    color: $darkColor;
    font-size: 1.1rem;
    font-style: italic;
  }
  .description {
    color: $darkColor;
    font-size: 1.1rem;
  }
}
section#list-bookings-show-user-profile {
  margin-bottom: 150px;
}
section#owner-contact-me {
  margin-bottom: 150px;
}

//Page Edit profile
section#form-edit-profile {
  form {
    max-width: 600px;
    //margin: 0 auto;
    margin-bottom: 150px;
  }
}
