@import "config";
@import "navigation";
@import "buttons";
@import "heading";
@import "badge";
@import "footer";

body {
  font-family: "Raleway", sans-serif;
}
h2{
  @include heading-h2;
}
h3{
  @include heading-h3;
}
.jumbotron {
  border-radius: 0;
}
.price {
  color: $dangerColor;
  font-weight: bold;
}
.rating-ad {
  margin: 10px 0;
}
img.ad-coverImage {
  max-width: 350px;
  max-height: 233px;
}

// HOMEPAGE
section#header-homepage {
  margin-top: 76px;
  background-color: $bgHeaderHomepage;
  h1 {
    color: $whiteColor;
    @include heading-h1;
  }
  p {
    color: $whiteColor;
    opacity: 0.9;
    font-size: 1.5rem;
  }
}
section#cta-registration {
  margin: 100px 0;
  p{
    font-size: 1.5rem;
  }
}

// Page Ads
section#ads {
  margin-top: 150px;
}
